<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./jumbotron-narrow.css" rel="stylesheet">
    <title>Is It Saturday?</title>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1 class="lead" style="text-align: center; font-size: 2500%; color: {{color}}; text-shadow: 8px 8px 8px #000000;">{{screamIt saturday}}</h1>
      </div>
    </div>
  </body>
</html>
