<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

        .row.content {
            height: 450px
        }
        /* Set gray background color and 100% height */

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }
        /* Set black background color, white text and some padding */

        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
        /* On small screens, set height to 'auto' for sidenav and grid */

        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {
                height: auto;
            }
        }

        .jumbotron {
            display: flex;
            align-items: center;
            background-image: url(https://media.giphy.com/media/EqkqvykCRzQUE/giphy.gif);
            background-color: #002b36;
            background-size: cover;
            color: #ffffff;
            height: 500px;
            text-shadow: 8px 8px 8px #000000;
            font-family: 'Roboto', sans-serif;
        }

        .jumbotron h2 {
            font-size: 60px;
            font-weight: 700;
            margin: 0;
            color: #fff;
        }

        .jumbotron h3 {
            margin: 0 0 20px;
            color: #fff;
        }

    </style>
  </head>
  <body>
    <h1>We'll be right back</h1>
    <p>
      The site is currently being updated.
    </p>
  </body>
</html>
